.user-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.user-info {
    position: absolute;
    top: 30px;
    right: 0;
    margin: 0.25rem 0 0 0;
    padding: 0;
}

.user-info .user-info_content {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.user-info .user-info_content > div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 0 1rem;
}

.user-info .user-info_content > div:first-child {
    margin: 0;
}

.user-info .user-info_content > div:last-child {
    position: relative;
    width: 100%;
    margin: 0.5rem 0 0 0;
    padding: 5px 0 0 0;
}

.user-info .user-info_content > div:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}
