.navicon-wrapper {
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.navicon-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-white);
    border-radius: 50%;
}

.navicon-icon img {
    width: 100%;
    max-width: 32px;
    height: auto;
    border-radius: 50%;
}
