.menu {
    list-style: none;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.menu li {
    margin: 0 0.5rem;
}

.menu li a {
    text-decoration: none;
    color: var(--bs-white);
}

.menu li a:hover {
    color: var(--bs-yellow);
}

.menu li .active-link, 
.menu li .nav-link:focus, 
.menu li .nav-link:hover {
    color: var(--bs-yellow);
}
