.modal {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.show {
    pointer-events: all;
    visibility: visible !important;
    opacity: 1 !important;
}

.btn-close-position {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}